* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 1.7rem;
    text-align: center;
    background: url("img/paper-bg.jpg") center fixed;
    background-size: cover;
}

#header {
    width: 400px;
    margin: 5px auto;
    padding: 1rem;
    font-size: 2em;
    text-transform: uppercase;
    background: linear-gradient(#fff, royalblue);
    color: #fff;
    font-weight: 600;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, .5);
}


.inputcontainer {
    width: 300px;
    margin: 0 auto;
    padding: 1px 0;
}

.input {
    margin: 5px 0;
}

#slider {
    width: 250px;
    margin: 0 auto;
    border-radius: 5px;
    background: #fff;
    font-size: 2.5rem;

}

#thickness {
    width: 50px;
    margin: 0 auto;
    height: 30px;
    text-align: center;
    position: relative;
}

#circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ui-widget-content .ui-state-default {
    background: #1D5EA9;
    border-radius: 5px;
    height: 29px;
    width: 40px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background: #E08F30;
    font-weight: normal;
    color: #ffffff;
    outline: none;
    border: none;
}

/* canvas styles starts from here*/
#container {
    width: 520px;
    height: 420px;
    margin: 10px auto 0 auto;
    padding: 1rem;
    background: #fff;
    border: 2px solid #0078D7;
}

#paint {
    background: #fff;
    cursor: crosshair;
}

#buttonscontainer {
    width: 400px;
    margin: 5px auto 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#buttonscontainer .btn {
    display: inline-block;
    height: 40px;
    background: #fff;
    line-height: 20px;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #0078D7;
    border: 1px solid #0078D7;
    border-radius: 7px;
    box-shadow: 0 2px 0 #0078D7;
    position: relative;
}

#buttonscontainer .btn:hover {
    background: #0078D7;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 7px;
    box-shadow: 0 2px 0 #fff;
    transition: all .2s linear;
    cursor: pointer;
}

#buttonscontainer .btn:active {
    box-shadow: none;
    top: 2px;
    transform: top .3s linear;
}

#buttonscontainer .eraseMode {
    background: red !important;
    color: white !important;
    border: 1px solid #fff;
    box-shadow: 0 2px 0 #fff !important;
}
